<h2 mat-dialog-title>Edit Project</h2>

<mat-dialog-content>
  <div class="content">
    <form [formGroup]="editForm" (ngSubmit)="onEdit()">

      <mat-form-field>
        <mat-label>Code</mat-label>
        <input matInput formControlName="code" cdkFocusInitial>
        @if (code.hasError('required')) {
          <mat-error>Email is <strong>required</strong></mat-error>
        }
      </mat-form-field>

      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
        @if (name.hasError('required')) {
          <mat-error>Name is <strong>required</strong></mat-error>
        }
      </mat-form-field>

      <mat-form-field>
        <mat-label>Description</mat-label>
        <input matInput formControlName="description">
      </mat-form-field>

 </form>
</div>
</mat-dialog-content>

<mat-dialog-actions>
<button mat-button mat-dialog-close>Cancel</button>
<button mat-button (click)="onEdit()" [disabled]="isInvalidState()">Edit</button>
</mat-dialog-actions>
