@use '../typography';

@mixin _set-token($prefix, $component, $token, $value) {
  & {
      --#{$prefix}-#{$component}-#{$token}: #{$value};
  }
}

@mixin component($component-prefix) {
  $component-name: 'issue';
  $component-name-project: 'project';
  $marker-variants: (
      "minor": (
          "background-color": rgb(142, 205, 142),
          "color": var(--mat-sys-on-surface-variant),
      ),
      "normal": (
          "background-color": rgb(41, 137, 227),
          "color": var(--mat-sys-on-secondary-container),
      ),
      "major": (
          "background-color": rgb(214, 179, 114),
          "color": var(--mat-sys-on-tertiary-container),
      ),
      "critical": (
          "background-color": rgb(234, 78, 78),
          "color": var(--mat-sys-on-error-container),
      )
  );

  .#{$component-prefix}-#{$component-name} {
      @each $variant, $color-map in $marker-variants {
          &--#{$variant} {
              @each $property, $color in $color-map {
                  @include _set-token($component-prefix, $component-name, 'marker-#{$property}', $color);
              }
          }
      }
  }

  .#{$component-prefix}-#{$component-name}, 
  .#{$component-prefix}-#{$component-name-project} {
    &__project-code {
      @include typography.typography-title-medium();;
    }

    &__name {
      @include typography.typography-title-medium();
    }

    &__created-on {
      @include typography.typography-body-medium();
    }
  }
}
