name: cm25-frontend-course

services:
    nginx:
        image: nginx:1.27-alpine
        volumes:
            - ./nginx/templates:/etc/nginx/templates
            - ../dist/welcome-app/browser:/usr/share/nginx/html
        container_name: nginx
        networks:
            - cm25
        ports:
            - "10500:80"
    mongodb:
        image: mongo:6.0.3
        container_name: database
        volumes:
            - cm25server_mongo_volume:/data/db
        networks:
            - cm25
        ports:
            - "20101:27017"
    backend:
        image: vordi/cm25-server:0.6.0
        container_name: backend
        environment:
            CM25SERVER_DATABASE: "mongodb://mongodb/cm25server?retryWrites=false"
        networks:
            - cm25
    frontend:
        image: vordi/cm25-client:0.1.0
        container_name: frontend
        networks:
            - cm25

volumes:
    cm25server_mongo_volume:
        external: false

networks:
    cm25:
        name: cm25
