<div class="layout-head">
    <mat-form-field subscriptSizing="dynamic" class="search">
        <mat-icon matIconPrefix class="search__prefix">search</mat-icon>
        <input matInput placeholder="Search" [formControl]="searchControl">
        @if (searchControl.value) {
        <button matSuffix mat-icon-button class="search__suffix" (click)="searchControl.setValue('')">
            <mat-icon>close</mat-icon>
        </button>
        }
    </mat-form-field>
    <button mat-flat-button class="mat-flat-button" (click)="createIssue()">
        <mat-icon>pest_control</mat-icon>
        New issue
    </button>
</div>

<div class="container">

    <div class="heading">
        <app-projects-selection (change)="selectedProjectIds.set($event)"></app-projects-selection>
        <app-priorities-selection (change)="selectedPriorities.set($event)"></app-priorities-selection>
        <app-issue-sorting [sort]="dataSource.sortRequest()"
            (change)="dataSource.changeSort($event)"></app-issue-sorting>
    </div>

    <div class="content">
        @if (!dataSource.isLoading()) {
            <div class="issues-container">
                <div class="open-issues">
                    <h2>Open Issues</h2>
                    <mat-action-list>
                        @for (issue of openIssues(); track issue.id) {
                            <div class="element-container element-container_issue">
                                <button mat-icon-button [matMenuTriggerFor]="menu">
                                    <mat-icon>more_vert</mat-icon>
                                </button>
                                <app-issue [issue]="issue"></app-issue>
                                <button mat-icon-button class="secondary" (click)="closeIssue(issue)" matTooltip="Close">
                                    <mat-icon>toggle_off</mat-icon>
                                </button>
                            </div>

                            <mat-menu #menu="matMenu">
                                <button mat-menu-item (click)="editIssue(issue)">
                                    <mat-icon>edit</mat-icon>
                                    <span>Edit</span>
                                </button>
                                <button mat-menu-item mat-error (click)="deleteIssue(issue.id)">
                                    <mat-icon>delete</mat-icon>
                                    <span>Delete</span>
                                </button>
                            </mat-menu>
                        }
                    </mat-action-list>
                </div>

                <div class="closed-issues">
                    <h2>Closed Issues</h2>
                    <mat-action-list>
                        @for (issue of closedIssues(); track issue.id) {
                            <div class="element-container element-container_issue">
                                <button mat-icon-button [matMenuTriggerFor]="menu">
                                    <mat-icon>more_vert</mat-icon>
                                </button>
                                <app-issue [issue]="issue"></app-issue>
                                <button mat-icon-button class="secondary" (click)="closeIssue(issue)" matTooltip="Reopen">
                                    <mat-icon>toggle_on</mat-icon>
                                </button>
                            </div>

                            <mat-menu #menu="matMenu">
                                <button mat-menu-item (click)="editIssue(issue)">
                                    <mat-icon>edit</mat-icon>
                                    <span>Edit</span>
                                </button>
                                <button mat-menu-item mat-error (click)="deleteIssue(issue.id)">
                                    <mat-icon>delete</mat-icon>
                                    <span>Delete</span>
                                </button>
                            </mat-menu>
                        }
                    </mat-action-list>
                </div>
            </div>

        } @else {
        <mat-progress-bar mode="indeterminate" class="progress"></mat-progress-bar>
        }
    </div>
</div>
