@use '@angular/material' as mat;
@use 'scss/theme-colors' as test-theme;
@use 'scss/components' as components;

html {
    @include mat.theme((
        color: (
            theme-type: color-scheme,
            primary: test-theme.$primary-palette,
            tertiary: test-theme.$tertiary-palette,
        ),
        typography: Roboto,
        density: 0,
    ));

    @include mat.theme-overrides((
    ));

    @include mat.toolbar-overrides((
        container-background-color: var(--mat-sys-surface-container-highest)
    ));

    @include mat.button-overrides((
        container-shape: var(--mat-sys-corner-small)
    ));

    @include mat.menu-overrides((
        item-with-icon-trailing-spacing: 24px
    ));

    @include components.all('app');
}

:root {
    color-scheme: light dark;
}

html, body {
    margin: 0;
    height: 100%;
}

body {
    display: grid;
    font-family: "Roboto", sans-serif;

    background-color: var(--mat-sys-surface-container-highest);
    color: var(--md-sys-color-on-surface);
}

.app-projects {
    display: grid;
    grid-template-columns: 280px 1fr;
    grid-template-rows: min-content 1fr;
    grid-template-areas: "cta issues" "projects issues";

    .cta-container {
        grid-area: cta;
    }

    .projects-container {
        grid-area: projects;
    }

    .issues-container {
        grid-area: issues;
    }
}

.filler {
    flex-grow: 1;
}
